<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
		<key>picture</key>
		<string>faq.png</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>faq.png</string>
		<key>question</key>
		<string>Быть или не быть?</string>
		<key>answer</key>
		<string>Вот в чем вопрос</string>
	</dict>
</array>
</plist>
