<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>history</key>
	<string>4 июля 2008 года клиника САДКО отметила 10 лет своей работы. Достижение это безусловно важное - для пациентов, которые обслуживаются в клинике, надежного персонала, который значительную часть времени уделяет клинике, а также для жизни города: САДКО сегодня безусловный лидер в Нижнем Новгороде в части оказания населению качественных платных медицинских услуг. Юбилей САДКО примечателен еще и тем, что история создания клиники сказочная. Один из владельцев клиники на выпускном вечере в школе написал на кусочке тетрадного листа, что хочет иметь свою клинику. Листочки эти все одноклассники отдали классной руководительнице на хранение. Через 10 лет одноклассники встретились и достали свои предсказания. На тот момент клинике САДКО уже исполнился 1 год. «Мечты сбываются, главное - действовать!» - считает владелец клиники САДКО Соколов Владимир Юрьевич.

С самого начала была самая простая идея создания клиники - оказание качественных медицинских услуг. Сегодня это серьезная сеть клиник в разных районах города: инновации в лечении, высокий уровень сервиса, удобство, комфорт в обслуживании, теплое отношение к людям, экономия времени — это непременные условия нашей работы.

Мы заботимся, мы реально работаем, мы долго находимся на работе, все ради того, чтобы не просто оказывать услугу, а чтобы создавать полезную идею, чтобы она была интересной и креативной. Идею,миссию, как мы ее называем, можно сформулировать так: «Мы делаем все, чтобы вы просто наслаждались жизнью!» Естественно мысль нам эта близка. Хотя самое главное - чтобы она стала близка нашему пациенту. Все наши последние события - 10 лет работы, увеличивающийся поток наших пациентов - говорят о том, что эта идея нужна пациенту, и это нас окрыляет. Самое главное, пациенты вдыхают в нас силы, позволяют нам не только финансово развиваться, но и дают эмоциональные, психологические силы для реализации новых проектов.

Все наши проекты были бы невозможны без работы с самоотдачей всего коллектива, работы слаженной и нужной, грамотно распределенной. Есть руководящий состав, он четко занимается своей задачей, выстраивает стратегию. Команда высококласных врачей «болеет» своим делом, тратит львиную долю своего времени на лечение и общение с пациентами, поиск инноваций, которые позволили бы оказывать дополнительные высококачественные услуги. Это вознаграждается прекрасными отзывами наших пациентов. Никто в команде не считается ни с временем, ни с личными делами. Первична наша работа, все вместе работаем на единый результат, ради успеха нашего предприятия и здоровья наших пациентов.

Я не только горжусь САДКО. Большего счастья нет для руководителя, когда он видит, что работа нужна, она приносит плоды, и люди довольны и счастливы. Тогда мы говорим что создана команда, которая способна решать любые задачи, действовать и достигать. Настоящая команда единомышленников. Мы работаем с людьми, которые беззаветно служат своему делу. И главное, что они лучшие в своем деле!

Все наши разработки, инновации, мысли направлены на то, чтобы создать беспрецедентную услугу: качественную, с использованием высокотехнологичного оборудования, с Бережным с большой буквы отношением к пациенту. Мы уже создали мощные проекты: сеть передовых стоматологий САДКО, прикольную стоматологию для детей ДИНОЗУБРИК, суперсовременный Женский центр и многопрофильный Лечебно-диагностический комплекс. Для удобства наших пациентов мы работаем над новым проектом САДКО в разных районах города: Автозавод, Сормово, Верхние Печеры и площадь Горького. Мощное оборудование, квалифицированные кадры, высокое качество лечения, а также невероятная экономия времени – вот основа новых филиалов. Все просто! Мы хотим дать пациенту новое качество жизни, хотим, чтобы он просто наслаждался жизнью. Все это не просто слова. Это позиция нашей компании.</string>
</dict>
</plist>
