<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Венерология</string>
	<string>Гастроэнтерология</string>
	<string>Гирудотерапия</string>
	<string>Дерматология</string>
	<string>Детская урология</string>
	<string>Иглорефлексотерапия</string>
	<string>Кардиология</string>
	<string>Комплексное обследование организма</string>
	<string>Лабораторная диагностика</string>
	<string>Лечебная физкультура</string>
	<string>Лечение простатита</string>
	<string>Магнитотерапия</string>
	<string>Массаж</string>
	<string>Наркология</string>
	<string>Проктология</string>
</array>
</plist>
