<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Наркология</string>
	<key>description</key>
	<string>Причины и механизмы возникновения наркомании, алкоголизма или другой зависимости изучены достаточно хорошо. В медицине принято говорить, в первую очередь, о наличии врождённой предрасположенности к данному явлению и механизмах взаимодействия психоактивных веществ с медиаторами головного мозга. Психиатрия ставит вопрос о наличии психологических причин возникновения зависимости, которые связаны с особенностями личности и её развития. </string>
	<key>doctors</key>
	<array>
		<string>Александров Александр Юрьевич</string>
		<string>Валдаев Вячеслав Сергеевич</string>
		<string>Гордеева Ольга Сергеевна</string>
		<string>Горшенкова Алина Геннадьевна</string>
		<string>Горькова Ирина Владимировна</string>
	</array>
</dict>
</plist>
